@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* * {
  transition: 0.1s ease-in;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
a,
button,
label,
input {
  font-family: "DM Sans", sans-serif
}

.button-outlined {
  width: 154px;
  height: 48px;
  border: 1px solid #33ABFF;
  color: #33ABFF;
  border-radius: 5px;
  font-weight: 500;
  font-size: 17px;
}

.button-outlined:hover {
  color: white;
  background: #33ABFF;
  transition: .2s ease-in;
}

.button-outlined2 {
  width: 154px;
  height: 48px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 17px;
}

.button-outlined2:hover {
  color: white;
  background: #33ABFF;
  transition: .2s ease-in;
}

.button-filled {
  width: 154px;
  height: 48px;
  background-color: #33ABFF;
  border-radius: 5px;
  font-weight: 500;
  color: white;
}

.button-filled:hover {
  background: transparent;
  transition: .2s ease-out;
  border: 2px solid #33ABFF;
  color: #15B2F5;
}


.button-filledext {
  width: 100%;
  height: 48px;
  background-color: #33ABFF;
  border-radius: 5px;
  font-weight: 500;
  color: white;
}

.button-filledext:hover {
  background: transparent;
  transition: .2s ease-out;
  border: 1px solid #33ABFF;
  color: #15B2F5;
}

.button-filledext2 {
  width: 100%;
  height: 70px;
  background-color: #33ABFF;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}

.button-filledext2:hover {
  background: transparent;
  transition: .2s ease-out;
  border: 1px solid #33ABFF;
  color: #15B2F5;
}

.button-blog {
  width: 124px;
  height: 35px;
  background: rgba(255, 255, 255, 0.185);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  color: white !important;
  background-color: #15B2F5;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  padding: 14px;
}

@media (max-width:730px) {

  .swiper-container .swiper-button-next,
  .swiper-container .swiper-button-prev {
    display: none;
  }
}